.DS_Store
*.bak*
.vscode/
.idea
*.sln
*.pyc
*.gv
*.sql
*.env
*.sh
*.pyi
*.log
.coverage

static/assets*
venv
USERRES
rule_engine
profiles
debug
static_root
dev
build/
dist/
*.egg**
.tool-versions
files.txt
assets
htmlcov
htmltest
coverage.xml
result.xml
