# -*- coding: utf-8 -*-

# 代码规范
pre-commit==2.9.2
flake8==3.7.8
seed-isort-config==1.9.2

# 测试
coverage==7.13.5
pytest==9.0.3
pytest-cov==7.1.0
pytest-django==4.12.0
pytest-xdist==3.8.0
pytest-html==4.2.0

# 构建
build==0.10.0

# Profile
pyinstrument==4.5.1
